/* Container style */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/* Scrollbar rail styles */
.ps__rail-x,
.ps__rail-y {
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  position: absolute;
}

.ps__rail-x {
  height: 10px;
  bottom: 0px;
}

.ps__rail-y {
  width: 10px;
  right: 0;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps--scrolling-x .ps__rail-x,
.ps--scrolling-y .ps__rail-y {
  opacity: 0.45;
}

.ps__rail-x.ps--clicking,
.ps__rail-y.ps--clicking {
  opacity: 0.9;
}

/* Scollbar thumb styles */
.ps__thumb-x,
.ps__thumb-y {
  background-color: #999;
  border-radius: 10px;
  position: absolute;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
}

.ps__thumb-x {
  bottom: 2px;
  height: 6px;
}

.ps__thumb-y {
  right: 2px;
  width: 6px;
}

.ps__thumb-x:hover,
.ps__thumb-x:focus,
.ps__rail-x.ps--clicking .ps__thumb-x {
  bottom: 0px !important;
  height: 10px !important;
}

.ps__thumb-y:hover,
.ps__thumb-y:focus,
.ps__rail-y.ps--clicking .ps__thumb-y {
  right: 0px !important;
  width: 10px !important;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
